<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="httpConfig"
          class="net.es.oscars.nsibridge.config.HttpConfig"
          scope="singleton">

        <property name="url" value="http://localhost:8501/"/>
        <property name="bus" value="config/jetty.xml"/>
    </bean>

    <bean id="oscarsConfig"
          class="net.es.oscars.nsibridge.config.OscarsConfig"
          scope="singleton">

        <property name="userDN" value="foo.net:user"/>
        <property name="issuerDN" value="foo.net:issuer"/>
    </bean>


    <!-- usually no need to change below this line -->
    <bean id="timingConfig"
          class="net.es.oscars.nsibridge.config.TimingConfig"
          scope="singleton">

        <property name="resvTimeout" value="30"/>
        <property name="queryInterval" value="5"/>
        <property name="queryAfterResvWait" value="0.1"/>
        <property name="queryAfterCancelWait" value="0.1"/>
        <property name="queryAfterSetupWait" value="0.1"/>
        <property name="queryAfterTeardownWait" value="0.1"/>
        <property name="queryResultDelay" value="0.1"/>
        <property name="oscarsResvTimeout" value="2"/>
        <property name="modifyWaitTimeout" value="2"/>
    </bean>


    <bean id="nsaConfigProvider"
          class="net.es.oscars.nsibridge.config.nsa.JsonNsaConfigProvider"
          init-method="loadConfig"
          scope="singleton">
        <property name="filename" value="config/nsa.json"/>
    </bean>

    <bean id="oscarsStubConfig"
          class="net.es.oscars.nsibridge.config.OscarsStubConfig"
          scope="singleton">
        <property name="failDescription" value="failme"/>
        <property name="stub" value="true"/>
        <property name="resvDelayMillis" value="500"/>
        <property name="queryDelayMillis" value="100" />
        <property name="cancelDelayMillis" value="1100" />
        <property name="setupDelayMillis" value="1100" />
        <property name="teardownDelayMillis" value="1100" />
        <property name="authDelayMillis" value="100" />

    </bean>


</beans>