###################################################################
# Configuration file:  Jnx.config
# Authors: chin guok (chin@es.net), David Robertson (dwrobertson@lbl.gov)
#
# Description:
#   Contains configuration for JnxTraceroute.pm
#
###################################################################
#
    # SSH variable to use for Juniper login.
_jnxTracerouteUser = 'traceroute'
_jnxTracerouteKey = '/home/jason/.ssh/traceroute_id_dsa'

  # Default source of tracreoutes.
#_jnxTracerouteSource = 'chi-cr1.es.net'
  # this is dev-rt20-e
_jnxTracerouteSource = '198.128.1.138'
