###################################################################
# Configuration file:  JnxTraceroute.config
# Authors: chin guok (chin@es.net), David Robertson (dwrobertson@lbl.gov)
#
# Description:
#   Contains configuration for JnxTraceroute.pm
#
###################################################################
#
    # SSH variable to use for Juniper login.
    # Fill these in for your installation
user =
key =

  # Default source of tracreoutes.  This requires an IP address.
source = 
