###################################################################
# Configuration file:  JnxTraceroute.config
# Authors: chin guok (chin@es.net), David Robertson (dwrobertson@lbl.gov)
#
# Description:
#   Contains configuration for JnxTraceroute.pm
#
###################################################################
#
    # SSH variable to use for Juniper login.
user = traceroute
key = /home/davidr/.ssh/traceroute_id_dsa

  # Default source of tracreoutes.
#_jnxTracerouteSource = 'chi-cr1.es.net'
  # this is dev-rt20-e
source = 198.128.1.138
