<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <display-name>OSCARS Web Interface</display-name>
    <description>
      Web based interface to OSCARS Reservation System
    </description>

    <!-- Servlets in webapp -->

    <servlet>
        <servlet-name>WebSession</servlet-name>
        <servlet-class>net.es.oscars.dojoServlets.WebSession</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebSession</servlet-name>
        <url-pattern>/servlet/WebSession</url-pattern>
    </servlet-mapping>

    <!-- Security section -->
    <!-- from http://jakarta.apache.org/cactus/writing/howto_security.html -->

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>SecurityRestriction</web-resource-name>
            <description>Protect OSCARS server</description>
	    <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>OSCARS user role</description>
            <role-name>user</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <!-- note that we only allow SSL connections -->
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.html</form-login-page>
            <form-error-page>/fail_login.html</form-error-page>
        </form-login-config>
    </login-config>

    <security-role>
        <description>OSCARS user role</description>
        <role-name>user</role-name>
    </security-role>

<!-- End security section -->

</web-app>
