#
# This is the config file for the BSS
#
#db_use_database = DBI:mysql:BSS
db_use_database = DBI:mysql:BSStest
# login name passwd
db_login_name = oscars
db_login_passwd = ritazza6

# Time (in seconds) between polling the reserveration db
#db_poll_time = 3600
db_poll_time = 60

# Time interval (in seconds) to search for reservations 
# to schedule must be larger then db_poll time
#reservation_time_interval = 7200
reservation_time_interval = 60

# Should I  run traceroute from the routers
# (requires ssh keys setup)
# 0 don't run, 1 run it
run_traceroute = 0

use_system = 1
use_ping = 0

# Server port to run the server on
# 
server_port = 3000

####  enumeration of reservation status types
ACTIVE = 0
CANCELLED = 1
FAILED  = 2
FINISHED = 3
PENDING = 4
