#
# This is the config file for the BSS
#
#db_use_database = DBI:mysql:BSS
db_use_database = DBI:mysql:BSStest
# login name and passwd; fill in for your installation
db_login_name = 
db_login_passwd =
# Server port to run the server on; fill in for your installation
server_port = 

# Time (in seconds) between polling the reserveration db
#db_poll_time = 3600
db_poll_time = 60

# Time interval (in seconds) to search for reservations 
# to schedule must be larger then db_poll time
#reservation_time_interval = 7200
reservation_time_interval = 60

# Should I  run traceroute from the routers
# (requires ssh keys setup)
# 0 don't run, 1 run it
run_traceroute = 1

use_system = 1
use_ping = 0


####  enumeration of reservation status types
ACTIVE = active
CANCELLED = cancelled
FAILED  = failed
FINISHED = finished
PENDING = pending
