#
# This is the config file for the BSS
#
# login name passwd
db_login_name = oscars
db_login_passwd = ritazza6

# Time (in seconds) between polling the reserveration db
db_poll_time = 3600
#db_poll_time = 60

# Time interval (in seconds) to search for reservations 
# to schedule must be larger then db_poll time
reservation_time_interval = 7200
#reservation_time_interval = 60
