<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">



    <bean id="nsaConfigProvider"
          class="net.es.oscars.nsibridge.config.nsa.JsonNsaConfigProvider"
          init-method="loadConfig"
          scope="singleton">
        <property name="filename" value="config/nsa.json"/>
    </bean>

    <bean id="httpConfig"
          class="net.es.oscars.nsibridge.config.HttpConfig"
          scope="singleton">

        <property name="url" value="http://localhost:8500/"/>
        <property name="bus" value="config/jetty.xml"/>
    </bean>

    <bean id="oscarsConfig"
          class="net.es.oscars.nsibridge.config.OscarsConfig"
          scope="singleton">

        <property name="userDN" value="foo.net:user"/>
        <property name="issuerDN" value="foo.net:issuer"/>
        <property name="stub" value="true"/>
        <property name="stubDelayMillis" value="1000"/>
    </bean>
    <bean id="timingConfig"
          class="net.es.oscars.nsibridge.config.TimingConfig"
          scope="singleton">

        <property name="resvTimeout" value="300"/>
        <property name="queryInterval" value="15"/>
        <property name="queryAfterResvWait" value="15"/>
        <property name="queryAfterSetupWait" value="15"/>
        <property name="queryAfterTeardownWait" value="15"/>
        <property name="queryResultDelay" value="0.1"/>
    </bean>



</beans>