<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- just defaults here -->
    <!-- you may empty this file if you want -->

    <bean id="defaultProvider" class="net.es.nsi.cli.config.CliProviderProfile" scope="singleton">
        <property name="name" value="default" />
        <property name="serviceType" value="http://services.ogf.org/nsi/2013/07/descriptions/EVTS.A-GOLE"/>
        <property name="providerNSA" value="default_nsa" />
        <property name="protocolVersion" value="application/vdn.ogf.nsi.cs.v2.provider+soap" />
        <property name="providerServer" ref="defaultUPA" />
    </bean>

    <bean id="defaultResv" class="net.es.nsi.cli.config.ResvProfile" scope="singleton">
        <property name="name" value="default" />
        <property name="srcStp" value="urn:ogf:network:somenetwork:somestp?vlan=333" />
        <property name="dstStp" value="urn:ogf:network:othernetwork:otherstp?vlan=333" />
        <property name="bandwidth" value="1" />
    </bean>


    <bean id="defaultRequester" class="net.es.nsi.cli.config.CliRequesterProfile" scope="singleton">
        <property name="name" value="default" />
        <property name="requesterId" value="NsiCliRequesterNSA" />
        <property name="busConfig" value="config/server-bus.xml"/>
        <property name="url" value="http://localhost:8900/Requester" />
    </bean>


    <bean id="defaultUPA" class="net.es.nsi.cli.config.CliProviderServer" scope="singleton">
        <property name="name" value="defaultUpa"/>
        <property name="busConfig" value="config/client-bus.xml"/>
        <property name="auth" ref="noAuth" />
        <property name="url" value="http://changeit.hostname.org/ConnectionService" />
    </bean>


    <bean id="sslAuth" class="net.es.nsi.cli.config.CliNsiAuth" scope="singleton">
        <property name="authType" value="SSL" />
    </bean>

    <bean id="noAuth" class="net.es.nsi.cli.config.CliNsiAuth" scope="singleton">
        <property name="authType" value="NONE" />
    </bean>


    <bean id="basicAuth" class="net.es.nsi.cli.config.CliNsiAuth" scope="singleton">
        <property name="authType" value="BASIC" />
        <property name="username" value="USERNAME" />
        <property name="password" value="CHANGEIT" />
    </bean>


</beans>