<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Specifies system variables, databases, default clients, AAA packages, 
     SOAP plugin packages, and mapping of fields to descriptions 
     for emails.  All other configuration is in the given database.  -->
<configuration>

<!-- System variables -->
<user>oscars</user>
<namespace>http://oscars.es.net/OSCARS/Dispatcher</namespace>

<!-- Names of system and topology databases -->
<database name='system' location='oscars' /> 
<database name='topology' location='topology' /> 

<client name='default' uri='http://localhost:2000/OSCARS/Dispatcher'
	proxy='http://localhost:2000/Server' payloadSender='' />
<client payloadSender='discvenue.internet2.edu'
	uri='https://discvenue.internet2.edu/OSCARS/Dispatcher'
	proxy='https://discvenue.internet2.edu/OSCARS/Server' name='11537' />

<!-- 'OSCARS::' at the beginning of all plugin locations is implicit -->
<!-- AAA configuration.  The database value is a reference to the plugin
     (see below). -->

<plugin name='authentication' location='Library::AAA::AuthN' database='system'/>
<plugin name='authorization' location='Library::AAA::AuthZ' database='system'/>

<!-- Configuration of publicly described SOAP methods -->
<plugin name='queryReservation' location='Public::Reservation::Query'/>
<plugin name='createReservation' location='Public::Reservation::Create'/>
<plugin name='modifyReservation' location='Public::Reservation::Modify'/>
<plugin name='cancelReservation' location='Public::Reservation::Cancel'/>
<plugin name='listReservations' location='Public::Reservation::List'/>
<plugin name='forward' location='Public::Reservation::Forward'/>
<plugin name='testForward' location='Public::Reservation::TestForward'/>

<!-- Configuration of internal SOAP methods -->
<plugin name='userLogin' location='Public::User::Login'/>
<plugin name='userLogout' location='Public::User::Logout'/>
<plugin name='userQuery' location='Public::User::Query'/>
<plugin name='userModify' location='Public::User::Modify'/>
<plugin name='institutionList' location='Public::Institution::List'/>
<plugin name='userAdd' location='Internal::User::Add'/>
<plugin name='userRemove' location='Internal::User::Remove'/>
<plugin name='userList' location='Internal::User::List'/>
<plugin name='permissionList' location='Internal::Permission::List'/>
<plugin name='resourceList' location='Internal::Resource::List'/>
<plugin name='authorizationList' location='Internal::Authorization::List'/>

<plugin name='reservationPending' location='Internal::Reservation::Pending'/>
<plugin name='reservationExpired' location='Internal::Reservation::Expired'/>
<plugin name='topologyUpdate' location='Internal::Topology::Update'/>
<plugin name='reservationCreateForm' 
        location='Internal::Reservation::CreateForm'/>

<notification name='cancelReservation'>
    <subject>Reservation successfully cancelled</subject>
    <tag>Reservation tag</tag> </notification>

<notification name='createReservation'>
    <subject>Reservation has been entered into the system</subject>
    <tag>Reservation tag</tag> <srcHost>Source</srcHost>
    <destHost>Destination</destHost> <description>Description</description>
    <startTime>Start time</startTime> <endTime>End time</endTime>
    <createdTime>Creation time</createdTime>
    <origTimeZone>Original time zone</origTimeZone>
    <bandwidth>Bandwidth</bandwidth> <burstLimit>Burst limit</burstLimit>
    <status>Status</status> <class>Class</class>
    <srcPort>Source port</srcPort> <destPort>Destination port</destPort>
    <dscp>DSCP</dscp> <protocol>Protocol</protocol>
    <path>Routers in path</path> </notification>

<notification name='reservationPending'>
    <subject>Circuit set up</subject> <tag>Reservation tag</tag>
    <lspConfigTime>Path set up time</lspConfigTime>
    <lspStatus>Configuration status</lspStatus> </notification>

<notification name='reservationExpired'>
    <subject>Circuit torn down</subject> <tag>Reservation tag</tag>
    <lspConfigTime>Path tear down time</lspConfigTime>
    <lspStatus>Configuration status</lspStatus> </notification>

<notification name='userAdd'><subject>OSCARS user added</subject></notification>

<notification name='permissionRemove'> 
    <subject>Permission removed</subject> </notification>

<notification name='resourceRemove'> 
    <subject>Resource removed</subject> </notification>

<notification name='authorizationRemove'>
    <subject>Authorization removed</subject> </notification>

<notification name='testMessage'>
    <subject>Test message</subject> <msg>Test message</msg> </notification>

</configuration>
