body {
	background-color: #EEEEEE;
}

#main {
	background-color: #FFFFFF;
	width: 970px;
	margin: 0px auto 10px auto;
}

#topHeader {
	width: 970px;
	margin: 10px auto 0px auto;
}

#topMenu {
	background-color: #999999;
	padding: 3px 3px 3px 3px;
	color: #EEEEEE;
}

#topMenu a:link {
	color: #EEEEEE;
	text-decoration: none;
}

#topMenu a:visited {
	color: #EEEEEE;
	text-decoration: none;
}

#topMenu a:hover {
	color: #000000;
	text-decoration: underline;
}

#report {
	padding: 10px 10px 10px 10px;
}

#dcnChart{
	width: 900px; 
	height: 300px; 
	cursor: move;
}

#initProgress{
	width: 300px;
	margin: auto auto auto auto;
}

#loadingLabel{
	font-size: 18px;
	font-weight: bold;
	margin: auto auto auto auto;
	text-align: center;
}

#dcnTable{
	width: 900px;
	border: 1px solid #999999;
	border-collapse: collapse;
}

#dcnTable td{
	border: 1px solid #999999;
	border-collapse: collapse;
	padding: 5px 5px 5px 5px;
}

#dcnTable thead{
	background-color: #94A5C3;
}

#dcnTable th{
	padding: 2px 2px 2px 2px;
	border: 1px solid #999999;
	border-collapse: collapse;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	color: #FFFFFF;
}

#dcnTable a:link {
	color: #FFFFFF;
	text-decoration: none;
}

#dcnTable a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

#dcnTable a:hover {
	color: #DDDDDD;
	text-decoration: none;
}

#chartTitle {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #999999;
	visibility: hidden;
}


.dcnTableLabel{
	font-weight: bold;
}

.even {
	border: 1px solid #999999;
	padding: 2px;
	background-color: #FFFFFF;
}

.odd {
	border: 1px solid #999999;
	padding: 2px;
	background-color: #E7EEF6;
}

.scrollPane{
	overflow: scroll;
	width: 200px;
	height: 75px;
	border: 1px solid #999999;
}

.settingsTable td{
	padding: 3px 3px 3px 3px;
}

.settingsTableLabel{
	font-weight: bold;
	vertical-align: top;
}

#tableKey{
	width: 900px;
	text-align: left;
	font-style: italic;
	visibility: hidden;
}
