###################################################################
# Configuration file: ESnetPSSVars.pm
# Authors: chin guok (chin@es.net), David Robertson (dwrobertson@lbl.gov)
#
# Description:
#   Contains configuration specifically for JnxLSP.
#
###################################################################

  # Router access.
access = ssl
login = junoscript
password = JUNOScript

  # XML related variables.
setupXmlFile = ESnet-OSCARS_Juniper_LSP-setup.xml
teardownXmlFile = ESnet-OSCARS_Juniper_LSP-teardown.xml
extIfFilter = external-interface-inbound-inet.0-filter
firewallFilterMaker = oscars-filters-start

  # LSP default values.
CoS = 4  # EF
setupPriority = 4;
resvPriority = 4;
