/* applies to all web pages */
body, p, td, table, tr, .bodytext, .stepfield {
	font-family: Verdana, arial, sans-serif;
	font-size: 11pt;
	line-height: 12pt;
	color: #000000;
	font-weight: normal;
}
body { background-color: #FFFFFF;
	margin: 2%;
	padding: 10px;
	text-align: left;
 }
 a:link {
    color: #008394;
}

a:visited {
    color: #00626E;
}

a:hover {
    color: #942A00;
}
 
/* these styles affect all ul, li and a */
ul{ font-family: Verdana, arial, sans-serif;
    font-size: 11pt
}
li { list-style: none;
}
/*
a { text-decoration: none
 }

a:hover {
  color: #3c78b5;
} 
*/

h2 {
	font-size: 18px;
	line-height: normal;
	font-weight: bold;
	background-color: #f0f0f0;
 	border-bottom: 1px solid #3c78b5;
        padding: 5px 5px 0px 5px;
	margin: 10px 0px 4px 0px;
}
h3 {
	font-size: 14px;
	line-height: normal;
	font-weight: bold;
	padding: 2px;
	margin: 10px 0px 4px 0px;
}
p.notice {
    font-weight: bold;
    color: grey;
}
/* CSS for notices section at bottom of Web page */
#notices {
    text-align: center;
    color: #3c78b5;
    margin: 1em;
    padding: 1em;
}

.breadcrumbs {
    background-color: #f0f0f0;
 	border-color: #3c78b5;
	border-width: 1px 0px 1px 0px;
	border-style: solid;
    font-size: 11px;
    padding: 3px 0px 3px 0px;
}

.navmenu {
    border: 1px solid #ccc;
}

.pagetitle {
	font-size: 18pt;
	font-weight: bold;
	font-family: verdana, arial, sans-serif;
	color:#2277cc;
	text-align: center;
}

.text { padding: 5px 5px 5px 10px; font-family: Arial, Helvetica, sans-serif;   }

.header { font-size: 22pt;
          font-family: verdana, arial, helvetica, sans-serif;
          font-weight: normal;
          background-color: #333388;  /* dark muted blue */
          color:  #FFEF89;            /* light yellow */
          text-align: center;
}

.leftcol {
 font-size: 100%;
 width: 11em;
 }

.content { padding: 5px 5px 5px 10px; font : small Verdana, Helvetica, sans-serif;  font-size : 90%; }

.frame { margin: 0px 0px 0px 0px; font-size: 90%; }
.frame .content { margin: 0px; }

.item { border: solid 1px #2277cc; background-color: #f0f5ff; }
.item .name { font-weight: bold; background-color: #2277cc; color: #002244; padding: 5px 5px 5px 10px; } /* ESnet Blue */
.item a:hover { border: solid 1px #aaa; background-color: #ddd; } /* greys */
.item a {
  text-decoration: none;
  display: block;
  color: #002244;
  border: solid 1px #f0f5ff;
  background-color: #f0f5ff;
}
/* Don't display words in a p tag. They are there for non-style aware browsers 
*/
.sideNav p {
  display: none;
}
/* If your items are too long, you may need to change the width here */
.sideNav {
  font-family: Verdana,  Arial, Helvetica, sans-serif;
  font-weight: bold;
  width: 11em;
  border: 5px solid #00244;
  padding: 0;
  margin-bottom: 1em;
  background-color: #2277cc; /* ESnet blue */
}
/* heading for grouping items */
.sideNav .frame {
  font-weight: bold;
  font-size: 12pt;
  padding: 1em 4px;
  background-color: #2277cc; /* ESnet blue */
  color: navy;
}
.sideNav frame a {
  display block;
  padding: 1em 4px;
  text-decoration: none;
  color: #002244; /* darkest blue-grey */
  width: 100%;
}
.sideNav frame a:hover {
  color: #800000;
}
.sideNav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sideNav ul li {
  font-size: 11pt;
  margin :0;
  padding: .5em 0px .5em 10px;
  color: #003366; /* dark blue-grey*/
}
.sideNav ul li a {
  display block;
  padding: 1em 4px;
  text-decoration: none;
  color: #002244; /*dark blue-grey */
  width: 100%;
}
/*
.sideNav ul li a {
  width: 100%;
} */
.sideNav ul li a:hover {
  color: #800000;
}

/* styles for links in the top bar */
.topBarDiv a:link {color: #ffffff;}
.topBarDiv a:visited {color: #ffffff;}
.topBarDiv a:active {color: #ffffff;}

/* .topBarDiv a:hover {color: #ffffff;} */
.topBarDiv {color: #ffffff;}

.topBar {
    background-color: #2277cc;
}

/* topBar A:link  A:visited, A:active, A:hover {
	color: #ffffff;
} */

/*  the rest is not used yet 
.topNav h5 {
   display: none;
}
.topNav ul {
  margin-left: 0;
  padding: 0;
  margin-bottom: 1em;
  font: bold 12px Verdana, Arial, sans-serif;
  color: #330;
}
.topNav ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}
.topNav ul li a {
  padding: 3px 1em;
  border: 1px solid #330;
  margin: 0;
  background:  #FFD768;
  text-decoration: none;
  color: #330;
}
.topNav ul li a:hover {
  color: #800000;
  background: #c90;
}
.topNav ul li a#current {
  background: white;
  border-bottom: 1px solid white;
}
.nav{	
	margin: 3px 2in;	
  	font: bold 12px Verdana, Arial, sans-serif;
	background-color: #78AB78;
	padding: 2px 0;
}
.nav li{
	display: inline;
	list-style-type: none;
	padding-left: 30px;
}
.nav a:link, #nav a:visited
{	color: #000;
	background-color: transparent;
	text-decoration: none;
}
.nav a:hover, #nav a:active{
	color: #fff;
	background-color: #333;
}
*/
