/* applies to all web pages */
body, p, td, table, tr, .bodytext, .stepfield {
	font-family: Verdana, arial, sans-serif;
	font-size: 11pt;
	line-height: 12pt;
	color: #000000;
	font-weight: normal
}
body { background-color: #FFFFFF;
	margin: 2%;
	padding: 10px;
	text-align: left;
 }
 
/* these styles affect all ul, li and a */
ul{ font-family: Verdana, arial, sans-serif;
    font-size: 11pt
}
li { list-style: none;
}
a:link {
    color: #008394;
}
a:visited {
    color: #00626E;
}
a:hover {
    color: #942A00;
}
h1 {
	font-size: 20px;
	line-height: normal;
	font-weight: bold;
	padding: 2px;
	margin: 10px 0px 4px 0px;
}
h2 {
	font-size: 18px;
	line-height: normal;
	font-weight: bold;
	background-color: #f0f0f0;
 	border-bottom: 1px solid #3c78b5;
        padding: 5px 5px 0px 5px;
	margin: 10px 0px 4px 0px;
}
h3 {
	font-size: 14px;
	line-height: normal;
	font-weight: bold;
	padding: 2px;
	margin: 10px 0px 4px 0px;
}

.breadcrumbs {
    background-color: #f0f0f0;
 	border-color: #3c78b5;
	border-width: 1px 0px 1px 0px;
	border-style: solid;
    font-size: 11px;
    padding: 3px 0px 3px 0px;
}

.navmenu {
    border: 1px solid #ccc;
}

.pagetitle {
	font-size: 18pt;
	font-weight: bold;
	font-family: verdana, arial, sans-serif;
	color:#2277cc;
	text-align: center;
}

.text { padding: 5px 5px 5px 10px; font-family: verdana, Arial, sans-serif;   }

.leftcol {
 font-size: 100%;
 width: 11em;
 }
.content { padding: 5px 5px 5px 10px; font : small Verdana, Helvetica, sans-serif;  font-size : 90%; }

.frame { margin: 0px 0px 0px 0px; font-size: 90%; }
.frame .content { margin: 0px; }

.item { border: solid 1px #2277cc; background-color: #f0f5ff; }
.item .name { font-weight: bold; background-color: #2277cc; color: #002244; padding: 5px 5px 5px 10px; } /* ESnet Blue */
.item .subname { font-weight: bold; background-color: #447799; color: #002244; padding: 3px 5px 3px 10px; } /* ESnet Blue */
.item a:hover { border: solid 1px #aaa; background-color: #ddd; } /* greys */
.item a {
  text-decoration: none;
  display: block;
  color: #002244;
  border: solid 1px #f0f5ff;
  background-color: #f0f5ff;
}

/* styles for links in the top bar */
.topBarDiv a:link {color: #ffffff;}
.topBarDiv a:visited {color: #ffffff;}
.topBarDiv a:active {color: #ffffff;}

/* .topBarDiv a:hover {color: #ffffff;} */
.topBarDiv {color: #ffffff;}

.topBar {
    background-color: #2277cc;
}

